<!DOCTYPE html>
<html lang="de">
<head>
    <title>Klipsias</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/bulma.min.css">
    <link rel="stylesheet" href="/custom.css">
</head>
<body>
    <nav th:replace="~{general.html :: navbar}"></nav>

    <div class="columns is-fullheight" style="height: 100vh;">
        <div th:replace="~{general.html :: sidebar}"></div>

        <div class="column">
            <div class="content p-4">
                <h1>Studierende <span th:text="${page_type} == 'new' ? 'hinzufügen' : 'bearbeiten'"></span></h1>

                <div class="notification is-light" th:if="${message != nil && message_type != nil}" th:classappend="${message_type} == 'error' ? 'is-danger' : 'is-success'" th:text="${message}"></div>

                <form action="#" th:action="${page_type} == 'new' ? @{/student/new} : @{/student/edit}" th:object="${student}" method="post">
                    <input type="hidden" th:field="*{id}">

                    <div class="field">
                        <label class="label">Vorname</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Max" th:field="*{firstName}">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Nachname</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Mustermann" th:field="*{lastName}">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">E-Mail Adresse</label>
                        <div class="control">
                            <input class="input" type="email" placeholder="max.mustermann@example.com" th:field="*{email}">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Matr. Nr.</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="12345678" th:field="*{matNr}" th:readonly="${page_type} != 'new'">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Fach</label>
                        <div class="control">
                            <div class="select">
                                <select th:field="*{studySubject}">
                                    <option th:each="subject: ${study_subjects}" th:value="${subject}" th:text="${subject}"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <input type="submit" th:value="${page_type == 'new'} ? 'Hinzufügen' : 'Bearbeiten'" class="button" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
