<!DOCTYPE html>
<html lang="de">
<head>
    <title>Klipsias</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="bulma.min.css">
    <link rel="stylesheet" href="custom.css">
</head>
<body>
    <nav th:replace="~{general.html :: navbar}"></nav>

    <div class="columns is-fullheight" style="height: 100vh;">
        <div th:replace="~{general.html :: sidebar}"></div>

        <div class="column">
            <div class="content p-4">
                <h1>Willkommen bei Klipsias!</h1>
            </div>
        </div>
    </div>
</body>
</html>
