<!DOCTYPE html>
<html lang="de">
<head>
    <title>Klipsias</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="bulma.min.css">
    <link rel="stylesheet" href="custom.css">
</head>
<body>
    <nav th:replace="~{general.html :: navbar}"></nav>

    <div class="columns is-fullheight">
        <div th:replace="~{general.html :: sidebar}"></div>

        <div class="column">
            <div class="content p-4">
                <h1>Räume</h1>

                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                <span th:if="${sort_by == 'id'}">
                                    <span th:if="${sort_asc}">↑</span><span th:unless="${sort_asc}">↓</span>
                                </span>
                                <span th:style="${sort_by == 'id' ? 'text-decoration: underline;' : ''}">
                                    <a th:if="${sort_by == 'id'}" th:href="@{/rooms(sort_by='id',sort_asc=${!sort_asc})}">ID</a>
                                    <a th:if="${sort_by != 'id'}" th:href="@{/rooms(sort_by='id',sort_asc='true')}">ID</a>
                                </span>
                            </th>
                            <th>
                                <span th:if="${sort_by == 'number'}">
                                    <span th:if="${sort_asc}">↑</span><span th:unless="${sort_asc}">↓</span>
                                </span>
                                <span th:style="${sort_by == 'number' ? 'text-decoration: underline;' : ''}">
                                    <a th:if="${sort_by == 'number'}" th:href="@{/rooms(sort_by='number',sort_asc=${!sort_asc})}">Raumnummer</a>
                                    <a th:if="${sort_by != 'number'}" th:href="@{/rooms(sort_by='number',sort_asc='true')}">Raumnummer</a>
                                </span>
                            </th>
                            <th>
                                <span th:if="${sort_by == 'seats'}">
                                    <span th:if="${sort_asc}">↑</span><span th:unless="${sort_asc}">↓</span>
                                </span>
                                <span th:style="${sort_by == 'seats' ? 'text-decoration: underline;' : ''}">
                                    <a th:if="${sort_by == 'seats'}" th:href="@{/rooms(sort_by='seats',sort_asc=${!sort_asc})}">Sitzplätze</a>
                                    <a th:if="${sort_by != 'seats'}" th:href="@{/rooms(sort_by='seats',sort_asc='true')}">Sitzplätze</a>
                                </span>
                            </th>
                            <th>
                                <span th:if="${sort_by == 'is_auditorium'}">
                                    <span th:if="${sort_asc}">↑</span><span th:unless="${sort_asc}">↓</span>
                                </span>
                                <span th:style="${sort_by == 'is_auditorium' ? 'text-decoration: underline;' : ''}">
                                    <a th:if="${sort_by == 'is_auditorium'}" th:href="@{/rooms(sort_by='is_auditorium',sort_asc=${!sort_asc})}">Hörsaal?</a>
                                    <a th:if="${sort_by != 'is_auditorium'}" th:href="@{/rooms(sort_by='is_auditorium',sort_asc='true')}">Hörsaal?</a>
                                </span>
                            </th>
                            <th>
                                <span th:if="${sort_by == 'building'}">
                                    <span th:if="${sort_asc}">↑</span><span th:unless="${sort_asc}">↓</span>
                                </span>
                                <span th:style="${sort_by == 'building' ? 'text-decoration: underline;' : ''}">
                                    <a th:if="${sort_by == 'building'}" th:href="@{/rooms(sort_by='building',sort_asc=${!sort_asc})}">Gebäude</a>
                                    <a th:if="${sort_by != 'building'}" th:href="@{/rooms(sort_by='building',sort_asc='true')}">Gebäude</a>
                                </span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="room: ${rooms}">
                            <td th:text="${room.id}" />
                            <td th:text="${room.number}" />
                            <td th:text="${room.seats}" />
                            <td th:text="${room.is_auditorium}"></td>
                            <td th:text="${room.building.name}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
