<!DOCTYPE html>
<html lang="de">
<head>
    <title>Klipsias</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="bulma.min.css">
    <link rel="stylesheet" href="custom.css">
</head>
<body>
    <nav th:replace="~{general.html :: navbar}"></nav>

    <div class="columns is-fullheight">
        <div th:replace="~{general.html :: sidebar}"></div>

        <div class="column">
            <div class="content p-4">
                <h1>Studierende</h1>

                <p><a class="button" th:href="@{/student/new}">Hinzufügen</a></p>

                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                <span th:if="${sort_by == 'matNr'}">
                                    <span th:if="${sort_asc}">↑</span><span th:unless="${sort_asc}">↓</span>
                                </span>
                                <span th:style="${sort_by == 'matNr' ? 'text-decoration: underline;' : ''}">
                                    <a th:if="${sort_by == 'matNr'}" th:href="@{/students(sort_by='matNr',sort_asc=${!sort_asc})}">Matr. Nr.</a>
                                    <a th:if="${sort_by != 'matNr'}" th:href="@{/students(sort_by='matNr',sort_asc='true')}">Matr. Nr.</a>
                                </span>
                            </th>
                            <th>
                                <span th:if="${sort_by == 'firstName'}">
                                    <span th:if="${sort_asc}">↑</span><span th:unless="${sort_asc}">↓</span>
                                </span>
                                <span th:style="${sort_by == 'firstName' ? 'text-decoration: underline;' : ''}">
                                    <a th:if="${sort_by == 'firstName'}" th:href="@{/students(sort_by='firstName',sort_asc=${!sort_asc})}">Vorname</a>
                                    <a th:if="${sort_by != 'firstName'}" th:href="@{/students(sort_by='firstName',sort_asc='true')}">Vorname</a>
                                </span>
                            </th>
                            <th>
                                <span th:if="${sort_by == 'lastName'}">
                                    <span th:if="${sort_asc}">↑</span><span th:unless="${sort_asc}">↓</span>
                                </span>
                                <span th:style="${sort_by == 'lastName' ? 'text-decoration: underline;' : ''}">
                                    <a th:if="${sort_by == 'lastName'}" th:href="@{/students(sort_by='lastName',sort_asc=${!sort_asc})}">Nachname</a>
                                    <a th:if="${sort_by != 'lastName'}" th:href="@{/students(sort_by='lastName',sort_asc='true')}">Nachname</a>
                                </span>
                            </th>
                            <th>
                                <span th:if="${sort_by == 'studySubject'}">
                                    <span th:if="${sort_asc}">↑</span><span th:unless="${sort_asc}">↓</span>
                                </span>
                                <span th:style="${sort_by == 'studySubject' ? 'text-decoration: underline;' : ''}">
                                    <a th:if="${sort_by == 'studySubject'}" th:href="@{/students(sort_by='studySubject',sort_asc=${!sort_asc})}">Fach</a>
                                    <a th:if="${sort_by != 'studySubject'}" th:href="@{/students(sort_by='studySubject',sort_asc='true')}">Fach</a>
                                </span>
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="student: ${students}">
                            <td th:text="${student.matNr}" />
                            <td th:text="${student.firstName}" />
                            <td th:text="${student.lastName}" />
                            <td th:text="${student.studySubject}"></td>
                            <td>
                                <div class="buttons has-addons">
                                    <a class="button is-small" th:href="@{/student/edit(id=${student.id})}">Bearb.</a>
                                    <a class="button is-small" th:href="@{/student/delete(id=${student.id})}">Entf.</a>
                                    <a class="button is-small" th:href="@{/student/enroll(id=${student.id})}">Einschr.</a>
                                    <a class="button is-small" th:href="@{/student/registerExam(id=${student.id})}">Prüf. anmeld.</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
